blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

body {
  background: radial-gradient(
    circle,
    rgba(251, 63, 105, 1) 0%,
    rgba(255, 182, 198, 1) 100%
  );
}

#invader {
  margin: 0 auto;
  display: flex;
}

.pixel {
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 2px grey;
  cursor: crosshair;
}

.pixel__color-black {
  background-color: black;
}

.pixel__color-grey {
  background-color: grey;
}

.pixel__color-white {
  background-color: white;
}


#invader {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

#configuration {
  width: 80%;
  height: 10vh;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #3148AD;
  margin: 3rem auto 0 auto;
  border-radius: 16px;
}

input, button {
  height: 50px;
  border-radius: 5px;
  min-width: 200px;
}

input {
  border: 1px solid #ebebeb;
  border-bottom: 3px solid var(--color-black);
  background-color: #f3f3f3;
  margin: var(--gutter-small) 0 var(--gutter-default) 0;
  padding: 12px 20px;
}

button {

}

